.App .main-body {
  font-weight: 600;
  font-size: 3vh;
  background-color: #24272c;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.App p {
  color: #68fe9a;
}
.App h1 {
  color: #fefaf1;
}
.App i {
  color: #fefaf1;
  font-size: 5vh;
  padding-inline: 2vh;
}
.App .main-home i:hover {
  color: #68fe9a;
  font-size: 6vh;
}

.App .main-nav .main-home .link {
  color: #fefaf1;
}

.App .main-body .home-image-box {
  border-radius: 2px;
  background-color: #68fe9a;
}
.App .main-body .home-image-box:hover {
  box-shadow: 0 0 20px 1px white;
}
/*
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #fefaf1, #68fe9a);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
} */
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
/* .home-image-box:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
} */

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

/* .App .main-nav .nav-link .active Link:hover {
  color: #68fe9a;
} */

/* .App .About {
} */
